@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap");

body {
  background-color: wheat;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {
  font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  font-weight: normal;
}

header {
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
}

header img#p_logo {
  object-fit: cover;
  height: 100px;
  width: 200px;
}

#headernav {
  top: 100px;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: red;
}

nav ul li {
  display: inline-flex;
  padding: 0 10px;
}

@media (max-width: 600px) {
}
