* {
  font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  font-weight: 400;
}
body {
  background-color: #f5deb3;
}
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 5vw;
}
.slider img {
  object-fit: contain;
  display: none;
  float: right;
}
#ho_photo,
#h_room1,
#h_room2 {
  width: 100%;
  height: 58vh;
}
img.displaySlide {
  display: inline-flex;
  animation-name: fade;
  animation-duration: 3s;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 25vh;
  height: 58vh;
}
#a_left {
  width: 30%;
  margin-left: 5vw;
  margin-right: 10vw;
  height: 58vh;
  background-color: #066161;
  color: #ffe6b9;
}
#a_left div {
  text-align: left;
  padding: 10px;
}
.center {
  width: 50%;
  margin: auto;
  display: flex;
}
header {
  background-color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
#p_logo {
  object-fit: cover;
  height: 100px;
  width: 200px;
}
#headernav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  background-color: #ff6347;
}
#headernav a {
  color: #00008b;
  text-decoration: none;
}
nav ul li {
  display: inline-flex;
  padding: 0 10px;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ff6347;
}
.form {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(220, 168, 45, 0.648);
  margin-top: 23vh;
  margin-bottom: 10px;
  min-width: 600px;
}
#form_contact {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(220, 168, 45, 0.648);
  margin-bottom: 5vh;
  margin-top: 25vh;
  height: 50vh;
  width: 50vw;
  min-width: 40vw;
}
label,
input,
textarea {
  display: flex;
  margin-bottom: 10px;
  width: 40vw;
  max-width: 40vw;
}
textarea {
  max-height: 15vh;
  height: 20vw;
}
#embed {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-button {
  max-width: 15vw;
  justify-content: center;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    top: 5vh;
    height: 130vh;
  }
  img.displaySlide {
    display: inline-flex;
    animation-name: fade;
    animation-duration: 3s;
  }
  .slider button {
    font-size: 0.5rem;
  }
  #ho_photo,
  #h_room1,
  #h_room2 {
    height: 48vh;
    width: 70vw;
  }
  #a_left {
    font-size: 2vh;
    margin-left: 5vw;
    margin-right: 10vw;
    height: 40vh;
    width: 70vw;
    background-color: #066161;
    color: #ffe6b9;
    overflow-y: visible;
  }
  #a_left div {
    text-align: left;
    padding: 10px;
  }
  header {
    z-index: 10;
  }
  #headernav {
    font-size: small;
    height: 4vh;
  }
  .form {
    min-width: 30vw;
    width: auto;
    height: auto;
    padding: 5px;
    margin-bottom: auto;
  }
  #form_contact {
    padding: 3vh;
    min-width: 30vw;
    width: auto;
    height: auto;
    margin-bottom: auto;
  }
  .submit-button {
    max-width: 15vw;
    justify-content: center;
  }
  #footer {
    font-size: 0.75rem;
  }
  nav ul li {
    padding: 0 5px;
  }
}
